@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.dashboard-container{
    display: flex;
    height: 100vh;
    width: 100%;
    .sidebar-section{
        flex: 1.5;
        background-color: $main-color;
        overflow: hidden;
        height: 100%;
    }
    .content-section{
        flex: 8.5;
        height: 100%;
        @include flex-center;
    }
}