@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.main-container{
    display: flex;
    width: 100%;
    height: 100vh;
    .banner-section {
        flex: 6;
        overflow: hidden;
        height: 100%;
    }

    .login-section {
        flex: 4;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #ffffff;
    }
}