// 폰트 크기
$font-small: 12px;
$font-medium: 16px;
$font-large: 20px;

// 색
$primary-color: #ffffff;
$secondary-color: #ffffff;
$accent-color: #ffffff;
$success-color: #ffffff;
$info-color: #ffffff;

$main-color: #f97316;
$main-color-dark: #ea580c;
$text-white: #ffffff;
$gray-400: #cbd5e1;
$border-radius-default: 8px;