@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.login-container{
    @include flex-center;
    height: 100%;
    p{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 30px;
        color: $main-color
    }
        form{
            @include flex-column;
            input{
                width: 300px;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: $border-radius-default;
            }
            button{
                width: 300px;
            }
        }
}