@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.login-container{
    @include flex-center;
    height: 100%;
        form{
            @include flex-column;
            input{
                width: 200px;
                padding: 10px;
                margin-bottom: 20px;
                border-radius: $border-radius-default;
            }
        }
}