@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.today-container{
    // @include flex-center;
    margin:10px;
    height:100%;
    width: 70%;
    .header{
        font-size: 24px;
        font-weight: bold;
    }
    .todolist-section{
        display:flex;
        flex-direction: column;
        .todo-item{
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            // border: 1px solid black;
            // border-radius: $border-radius-default;
            .todo-state{
                flex: 1;
            }
            .todo-info{
                flex: 8;
            }
            .todo-option{
                flex: 1;
            }
        }
    }
}